langchain>=0.3.0,<0.4.0
langchain-community>=0.3.0,<0.4.0
langchain-core>=0.3.0,<1.0.0
langchain-text-splitters>=0.3.0,<0.4.0
langchain-groq>=0.2.0,<0.3.0
langchain-chroma>=0.2.0,<0.3.0
python-dotenv>=1.0.1,<2.0.0
bs4==0.0.2
faiss-cpu==1.8.0.post1
tqdm==4.66.4
tiktoken==0.7.0
langchainhub==0.1.20